.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 2px 0 rgba(0,255,0,0.2);
    transition: 0.3s;
   color: black;
  }

.apply_button_css
{
	background-color: green;
	color: white;
	
}
.not_interested_button_css
{
	background-color: red;
	color: white;
	
}
.container {
    padding: 2px 16px;
  }

  
 